body{
	/*background-image: url(../img/background.jpg);*/
	width: auto;
	height: auto;
}

#image{
	margin-left: 350px;
	margin-bottom: 50px;
	width: 20%;
	height: 20%;
}

.container{

	margin: auto;
	width: 1024px;
	height: auto;
	margin-top: 200px;
}

label{
	color: white;
}
